{% extends "contenido.html" %}
{% load bootstrap_tags %}

{% block title %}Recorrido {{obj.nombre|title}} {% if obj.inicio and obj.fin %} desde {{obj.inicio}} hasta {{obj.fin}} {% endif %} de la linea {{linea.nombre|title}}, en {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %} - Cualbondi{% endblock %}
{% block meta_description %}Toda la información sobre paradas, horarios y tarifas del recorrido {{obj.nombre|title}} de la línea {{linea.nombre|title}} desde {{obj.inicio}} hasta {{obj.fin}} en {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %}: Descripción del recorrido de colectivo, micro, bus.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:recorrido" />
    <meta property="og:url"    content="{{ obj.get_absolute_url }}" />
    <meta property="og:title"  content="{{linea.nombre|title}} - {{obj.nombre|title}}" />
    <meta property="og:description"  content="Linea {{linea.nombre|title}}, Ramal {{obj.nombre|title}} en {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %} - Cualbondi{% if obj.inicio and obj.fin %}, Recorrido desde {{obj.inicio}} hasta {{obj.fin}} {% endif %} en {{adminarea.name|title}}: Descripción del recorrido de colectivo, micro, bus" />
    {% if obj.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}/{{ obj.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">Inicio</span>
            </a>
            <meta itemprop="position" content="1" />
            <span class="divider">&gt;</span>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{adminarea.get_absolute_url}}">
                <span itemprop="name">{{adminarea.name}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="divider">&gt;</span>
        </li>
        {% if linea %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{linea.get_absolute_url}}">
                <span itemprop="name">{{linea.nombre}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="divider">&gt;</span>
        </li>
        {% endif %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{obj.get_absolute_url}}">
                <span itemprop="name">{{obj.nombre}}{% if obj.inicio and obj.fin %} (de {{obj.inicio}} a {{obj.fin}}){% endif %}</span>
            </a>
            <meta itemprop="position" content="{% if linea %}4{% else %}3{% endif %}" />
        </li>
    </ul>

    <div>
        <h1>
            Recorrido {{linea.nombre}} {{obj.nombre}}
            <span style="margin-left:5px;" class="fb-like" data-layout="button_count" data-action="like" data-colorscheme="light" data-show-faces="false" data-share="false"></span>
            {% if obj.inicio and obj.fin %}<small>desde {{obj.inicio}} hasta {{obj.fin}}</small>{% endif %}
        </h1>
    </div>

    {% if adminareas %}
        <h2>Lugares que transita</h2>
        <ul>
            {% for a in adminareas %}
            <li><a href="{{a.get_absolute_url}}">{{ a.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if calles %}
        <h2>Calles que componen este recorrido</h2>
        <ol>
            {% for c in calles %}
            <li style="color:gray">
                <span style="color:black">{{ c }}</span>
            </li>
            {% endfor %}
        </ol>
    {% else %}
        {% if obj.descripcion %}
            <h2>Calles que componen este recorrido</h2>
            <div>{{ obj.descripcion }}</div>
        {% endif %}
    {% endif %}

    {% include "ad_contenido.html"%}

    {% if obj.img_panorama %}
    <div class="thumbnail">
	<a href="/mapa/{{adminarea.name|slugify}}|{{adminarea.geometry.centroid.0|stringformat:'f'}},{{adminarea.geometry.centroid.1|stringformat:'f'}}/recorridos/{% if linea %}{{linea.nombre}} {% endif %}{{obj.nombre}}/" class="btn btn-primary" style="position:absolute; margin:6px">Ver en mapa interactivo</a>
        <div id="map" style="background:lightblue;">
            <img src="{{HOME_URL}}/{{ obj.img_panorama.url }}" alt="Mapa del recorrido {{ obj.nombre }} de la línea {{ linea.nombre }} en {{ adminarea.name }}." />
        </div>
    </div>
    <br />
    {% endif %}

    {% if recorridos_similares %}
        <div class="row-fluid">
            <h2>Recorridos similares</h2>
            {% for cols in recorridos_similares|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                    <div class="span4">
                        <ul class="nav nav-pills nav-stacked">
                        {% for rs in columna %}
                            <li><a href="{{rs.get_absolute_url}}">{{rs.linea_nombre}} - {{rs.nombre}}{% if rs.inicio and rs.fin %} <span class="light">de {{rs.inicio}} a {{rs.fin}}</span>{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if pois %}
        <div class="row-fluid">
            <h2>Puntos de interés por donde pasa</h2>
            {% for cols in pois|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                    <div class="span4">
                        <ul class="nav nav-pills nav-stacked">
                        {% for p in columna %}
                            <li itemscope itemtype="http://schema.org/Place">
                                <a itemprop="url" href="{{p.get_absolute_url}}">
                                    <span itemprop="name">{{ p.nom }}</span>
                                </a>
                                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{p.latlng.1|stringformat:"f"}}" />
                                    <meta itemprop="longitude" content="{{p.latlng.0|stringformat:"f"}}" />
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if horarios %}
        <h2>Paradas:</h2>
        <ul>
        {% for h in horarios %}
            <li><a href="{{h.parada.get_absolute_url}}">{{ h.parada }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <!--
    <h2>Dejanos un comentario sobre el recorrido "{{linea.nombre}} {{obj.nombre}}"</h2>
	<p>Si el recorrido esta mal, podés ayudar haciendo <a href="/editor/{{ obj.id }}/">click acá</a></p>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'cualbondi'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Habilita Javascript para ver los comentarios</noscript>
    -->
{% endblock %}
