{% extends "contenido.html" %}
{% load bootstrap_tags %}
{% load uslugify %}
{% load i18n %}
{% load reviews %}

{% block title %}{% blocktrans %}Route{% endblocktrans %} {{obj.nombre|title}} {% if obj.inicio and obj.fin %} {% blocktrans %}from{% endblocktrans %} {{obj.inicio}} {% blocktrans %}to{% endblocktrans %} {{obj.fin}} {% endif %} {% blocktrans %}of the line{% endblocktrans %} {{linea.nombre|title}}, {% blocktrans %}in{% endblocktrans %} {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %} - Cualbondi{% endblock %}
{% block meta_description %}{% blocktrans %}All the information on stops, schedules and fares of the route{% endblocktrans %} {{obj.nombre|title}} {% blocktrans %}of the line{% endblocktrans %} {{linea.nombre|title}} {% blocktrans %}from{% endblocktrans %} {{obj.inicio}} {% blocktrans %}to{% endblocktrans %} {{obj.fin}} {% blocktrans %}in{% endblocktrans %} {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %}: {% blocktrans %}Description of the route of the bus{% endblocktrans %}.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:recorrido" />
    <meta property="og:url"    content="{{ obj.get_absolute_url }}" />
    <meta property="og:title"  content="{{linea.nombre|title}} - {{obj.nombre|title}}" />
    <meta property="og:description"  content="{% blocktrans %}Line{% endblocktrans %} {{linea.nombre|title}}, {% blocktrans %}branch{% endblocktrans %} {{obj.nombre|title}} {% blocktrans %}in{% endblocktrans %} {{adminarea.name|title}}{% for a in adminareaancestors %}, {{a.name|title}}{% endfor %} - Cualbondi{% if obj.inicio and obj.fin %}, {% blocktrans %}Route from{% endblocktrans %} {{obj.inicio}} {% blocktrans %}to{% endblocktrans %} {{obj.fin}} {% endif %} {% blocktrans %}in{% endblocktrans %} {{adminarea.name|title}}: {% blocktrans %}Description of the route of the bus{% endblocktrans %}" />
    {% if obj.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}/{{ obj.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">{% blocktrans %}Home{% endblocktrans %}</span>
            </a>
            <meta itemprop="position" content="1" />
            <span class="divider">&gt;</span>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{adminarea.get_absolute_url}}">
                <span itemprop="name">{{adminarea.name}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="divider">&gt;</span>
        </li>
        {% if linea %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{linea.get_absolute_url}}">
                <span itemprop="name">{{linea.nombre}}</span>
            </a>
            <meta itemprop="position" content="2" />
            <span class="divider">&gt;</span>
        </li>
        {% endif %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{obj.get_absolute_url}}">
                <span itemprop="name">{{obj.nombre}}{% if obj.inicio and obj.fin %} ({% blocktrans %}from{% endblocktrans %} {{obj.inicio}} {% blocktrans %}to{% endblocktrans %} {{obj.fin}}){% endif %}</span>
            </a>
            <meta itemprop="position" content="{% if linea %}4{% else %}3{% endif %}" />
        </li>
    </ul>

    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{schemaorg_itemtype}}" id="mainitemid">
        <h1>
            {% blocktrans %}Route{% endblocktrans %} <span itemprop="name">{{linea.nombre}} {{obj.nombre}}</span>
            <span style="margin-left:5px;" class="fb-like" data-layout="button_count" data-action="like" data-colorscheme="light" data-show-faces="false" data-share="false"></span>
            {% if obj.inicio and obj.fin %}<small>{% blocktrans %}from{% endblocktrans %} {{obj.inicio}} {% blocktrans %}to{% endblocktrans %} {{obj.fin}}</small>{% endif %}
        </h1>
        <link itemprop="url" content="{{obj.get_absolute_url}}" />
        <div>
            {% render_review_aggregate for obj %}
        </div>

        {% if adminareas %}
            <h2>{% blocktrans %}Places that travel to{% endblocktrans %}</h2>
            <ul>
                {% for a in adminareas %}
                <li itemprop="itinerary" itemtype="http://schema.org/AdministrativeArea" itemscope>
                    <a href="{{a.get_absolute_url}}" itemprop="name">{{ a.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if calles %}
            <h2>{% blocktrans %}Streets that compose this route{% endblocktrans %}</h2>
            <ol>
                {% for c in calles %}
                <li style="color:gray">
                    <span style="color:black">{{ c }}</span>
                </li>
                {% endfor %}
            </ol>
        {% else %}
            {% if obj.descripcion %}
                <h2>{% blocktrans %}Streets that compose this route{% endblocktrans %}</h2>
                <div>{{ obj.descripcion }}</div>
            {% endif %}
        {% endif %}

        {% include "ad_contenido.html"%}

        {% if obj.img_panorama %}
        <div class="thumbnail">
        <a href="/mapa/{{adminarea.name|uslugify}}|{{adminarea.geometry.centroid.0|stringformat:'f'}},{{adminarea.geometry.centroid.1|stringformat:'f'}}/recorridos/{% if linea %}{{linea.nombre}} {% endif %}{{obj.nombre}}/" class="btn btn-primary" style="position:absolute; margin:6px">{% blocktrans %}See in interactive map{% endblocktrans %}</a>
            <div id="map" style="background:lightblue;min-height:300px;">
                <img style="height:300px;object-fit:cover" itemprop="image" src="{{HOME_URL}}/{{ obj.img_panorama.url }}" alt="Mapa del recorrido {{ obj.nombre }} de la línea {{ linea.nombre }} en {{ adminarea.name }}." />
            </div>
        </div>
        <br />
        {% endif %}

    </div>


    {% if recorridos_similares %}
        <div class="row-fluid">
            <h2>{% blocktrans %}Similar routes{% endblocktrans %}</h2>
            {% for cols in recorridos_similares|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                    <div class="span4">
                        <ul class="nav nav-pills nav-stacked">
                        {% for rs in columna %}
                            <li><a href="{{rs.get_absolute_url}}">{{rs.linea_nombre}} - {{rs.nombre}}{% if rs.inicio and rs.fin %} <span class="light">{% blocktrans %}from{% endblocktrans %} {{rs.inicio}} {% blocktrans %}to{% endblocktrans %} {{rs.fin}}</span>{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if pois %}
        <div class="row-fluid">
            <h2>{% blocktrans %}Points of interest near the route{% endblocktrans %}</h2>
            {% for cols in pois|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                    <div class="span4">
                        <ul class="nav nav-pills nav-stacked">
                        {% for p in columna %}
                            <li itemscope itemtype="http://schema.org/Place">
                                <a itemprop="url" href="{{p.get_absolute_url}}">
                                    <span itemprop="name">{{ p.nom }}</span>
                                </a>
                                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{p.latlng.1|stringformat:'f'}}" />
                                    <meta itemprop="longitude" content="{{p.latlng.0|stringformat:'f'}}" />
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if horarios %}
        <h2>{% blocktrans %}Stops{% endblocktrans %}:</h2>
        <ul>
        {% for h in horarios %}
            <li><a href="{{h.parada.get_absolute_url}}">{{ h.parada }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2 id="reviews">{% blocktrans %}Reviews of{% endblocktrans %} {{linea.nombre}} {{obj.nombre}}</h2>
    {% render_review_form for obj %}
    {% render_review_list for obj %}

{% endblock %}
