<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0;padding:0">
    <head>
        <style>
            {% include "core/ver_obj_map.css" %}
        </style>
        <script>
            {% include "core/ver_obj_map.js" %}
        </script>

    </head>
    <body style="height:100%;width:100%;margin:0;padding:0">
        <div id="map" style="background:lightblue; height:100%; width:100%"></div>
        <script>
            map = new L.Map('map', { zoomControl:false });

            var mbgl = L.mapboxGL({
                style: 'https://tiles.cualbondi.com.ar/styles/osm-bright/style.json',
                accessToken: 'no-token'
            }).addTo(map);

            // var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            // var osm = new L.TileLayer(osmUrl, {maxZoom: 17, fadeAnimation: false});
            // map.addLayer(osm);

            {% if obj.poligono %}
            var geojson = L.geoJson({{ obj.envolvente.geojson|safe }});
            var geojsonc = L.geoJson({{ obj.poligono.geojson|safe }});
            {% elif obj.ruta %}
            var points = []
            eval({{ obj.ruta.geojson|safe }}).coordinates.forEach(function(e,i,a){
                points.push([e[1],e[0]])
            })
            var geojson = new L.polyline(points, {opacity:1})
            var geojsonc = geojson;
            {% elif obj.envolvente %}
            var geojson = L.geoJson({{ obj.envolvente.geojson|safe }});
            var geojsonc = geojson;
            {% elif obj.latlng %}
            var geojson = L.geoJson({{ obj.latlng.geojson | safe }});
            var geojsonc = geojson;
            {% elif obj.geometry %}
            // TODO: add all recorridos in this adminarea also
            var geojson = L.geoJson({{ obj.geometry.geojson | safe }});
            var geojsonc = geojson;
            {% endif %}

            var osmAttrib='&copy; Cualbondi &amp; OpenStreetMap contributors';
            map.attributionControl.setPrefix('Leaflet').addAttribution( osmAttrib );
            console.log(geojsonc)
            map.fitBounds(geojsonc.getBounds())

            //map.setView(L.latLng({{ ciudad_actual.centro.get_y|stringformat:"f" }},{{ ciudad_actual.centro.get_x|stringformat:"f" }}), {{ ciudad_actual.zoom }});
            geojson.addTo(map);
            //different arrows \u25BA \u27A1
            {% if obj.ruta %} geojson.setText('    \u25BA    ', {repeat: true, offset: 7, attributes: {fill: 'blue', 'font-size': '22'}}){% endif %}
            //{% if obj.ruta %} geojson.setText('    >    ', {repeat: true, offset: 9, attributes: {fill: 'blue', 'font-size': '28'}}){% endif %}

            // asegurarse que cargó
            mbgl.getMapboxMap().on('load', function(){ setTimeout( function(){document.title = 'loaded'}, 200)   } )
        </script>
    </body>
</html>