<!DOCTYPE html>
<html lang="{{ get_current_language() }}">
    <head{% block head_attrs %}{% endblock %}>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png" />
    <title>{% block title %}Cualbondi{% endblock %}</title>
		<meta name="description" content="{% block meta_description %}{% trans %}Search engine of public transportation bus, train,  subway, tram.{% endtrans %}.{% endblock %}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/merged-orig-purified.css" rel="stylesheet" type="text/css" />

    <meta name="google-site-verification" content="NVSk_0zcZdYua2ILJ4L0DvspOCmHujouihZPlo3mDco">
    <link href="https://plus.google.com/117455886911192315188" rel="publisher">

    <link rel="preconnect" crossorigin href="https://fonts.googleapis.com">
    <link rel="preconnect" crossorigin href="https://fonts.gstatic.com">
    <link rel="preconnect" crossorigin href="https://googletagmanager.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://tpc.googlesyndication.com">
    <link rel="preconnect" href="https://pagead2.googlesyndication.com">

    {% comment %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endcomment %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8627660641805224" crossorigin="anonymous"></script>

	</head>
	<body style="padding-bottom:0">

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" style="background:url({{ STATIC_URL }}img/logo-navbar.png); height:25px; width:132px; padding:0; margin: 5px 20px 0 0;" alt="Cualbondi"></a>
          <div class="nav-collapse">
            <ul class="nav">
              {% if ciudad_actual %}
                <li>
                  <a href="/mapa/{{ciudad_actual.slug}}">
                    <i class="icon-search icon-white"></i>
                    {% trans %}Go to the search engine{% endtrans %}
                  </a>
                </li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{{ url('ver_perfil', username=user.username) }}">
                    <i class="icon-user icon-white"></i>
                    {{ request.user }}
                  </a>
                </li>
              {% else %}
                <li>
                  {# <a href="{{ url('social:begin', 'facebook') }}"> #}
                  <a href="/">
                    <i class="icon-user icon-white"></i>
                    {% trans %}Login{% endtrans %}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ url('agradecimientos') }}">
                  <i class="icon-star icon-white"></i>
                  {% trans %}Star users{% endtrans %}
                </a>
              </li>
              <li>
                <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dFJERlREQjUyaE1iSkFDYnhOa2Nnbmc6MQ+">
                  <i class="icon-pencil icon-white"></i>
                  {% trans %}Poll{% endtrans %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include "facebook_sdk.html" %}

    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <!-- adaptable_2 -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1193419141108967" data-ad-slot="8086662791" data-ad-format="auto"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          {% block content %}{% endblock %}
        </div>
        <div id="bloque_derecha" class="span3">
        </div>
      </div>
    </div>

    <footer style="background:#F0F0FA">
      <hr>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <p style="text-align:center;">
              &copy;
              <a href="mailto:cualbondi@gmail.com">
                CualBondi
              </a>
              2009 - 2020
            </p>
          </div>
        </div>
        <br>
      </div>
    </footer>

    {% include "tracking.html" %}

	</body>
</html>
