<!DOCTYPE html>
<html lang="{{ get_current_language() }}">
  <head{% block head_attrs %}{% endblock %}>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/merged-orig-purified.css" rel="stylesheet" type="text/css">

    <meta name="google-site-verification" content="NVSk_0zcZdYua2ILJ4L0DvspOCmHujouihZPlo3mDco">
    <link href="https://plus.google.com/117455886911192315188" rel="publisher">

    <link rel="preconnect" crossorigin href="https://fonts.googleapis.com">
    <link rel="preconnect" crossorigin href="https://fonts.gstatic.com">
    <link rel="preconnect" crossorigin href="https://googletagmanager.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://t.cualbondi.com">
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://tpc.googlesyndication.com">
    <link rel="preconnect" href="https://pagead2.googlesyndication.com">
    <link rel="preconnect" href="https://fundingchoicesmessages.google.com/">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8627660641805224" crossorigin></script>

    {% include "tracking.html" %}

    <title>{% block title %}Cualbondi{% endblock %}</title>
		<meta name="description" content="{% block meta_description %}{% trans %}Search engine of public transportation bus, train,  subway, tram.{% endtrans %}.{% endblock %}">
	
    {% block custom_top_scripts %}{% endblock %}
  
  </head>
	<body style="padding-bottom:0">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" alt="Cualbondi">
            <picture alt="Cualbondi">
              <source srcset="{{ STATIC_URL }}img/logo-navbar.webp" type="image/webp">
              <img src="{{ STATIC_URL }}img/logo-navbar.png" alt="Cualbondi" class="brand" style="height:25px; width:132px; padding:0;">
            </picture>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              {% if ciudad_actual %}
                <li>
                  <a href="/mapa/{{ciudad_actual.slug}}">
                    <i class="icon-search icon-white"></i>
                    {% trans %}Go to the search engine{% endtrans %}
                  </a>
                </li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{{ url('ver_perfil', username=user.username) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#fff" stroke-width="2" viewBox="0 0 24 24"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                    {{ request.user }}
                  </a>
                </li>
              {% else %}
                <li>
                  {# <a href="{{ url('social:begin', 'facebook') }}"> #}
                  <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#fff" stroke-width="2" viewBox="0 0 24 24"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                    {% trans %}Login{% endtrans %}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ url('agradecimientos') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#fff"  stroke-width="2" viewBox="0 0 24 24"><path d="m12 2 3 6 7 1-5 5 1 7-6-3-6 3 1-7-5-5 7-1 3-6z"/></svg>
                  {% trans %}Star users{% endtrans %}
                </a>
              </li>
              <li>
                <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dFJERlREQjUyaE1iSkFDYnhOa2Nnbmc6MQ+">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#fff" stroke-width="2" viewBox="0 0 24 24"><path d="m14 2 4 4L7 17H3v-4L14 2zM3 22h18"/></svg>
                  {% trans %}Poll{% endtrans %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <!-- adaptable_2 -->
          {% block content %}{% endblock %}
        </div>
        <div id="bloque_derecha" class="span3">
        </div>
      </div>
    </div>

    <footer style="background:#F0F0FA">
      <hr>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <p style="text-align:center;">
              &copy;
              <a href="mailto:cualbondi@gmail.com">
                CualBondi
              </a>
              2009 - 2024
            </p>
          </div>
        </div>
        <br>
      </div>
    </footer>

	</body>
</html>
