{% extends "contenido.html" %}

{% block title %}Edición por {{ revision.get_pretty_user }} de la Linea {{original.linea.nombre|title}}, Ramal {{original.nombre|title}} {% if recorrido_actual.inicio and recorrido_actual.fin %}, Recorrido desde {{recorrido_actual.inicio}} hasta {{recorrido_actual.fin}} {% endif %} - Cualbondi{% endblock %}
{% block meta_description %}Edición del recorrido {{original.linea.nombre|title}} {{original.nombre|title}} creada por el usuario {{ revision.get_pretty_user }} en Cualbondi. Visualización de la edición del recorrido en el estado {{ revision.get_moderacion_last.get_newStatus_display }}.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:edicion" />
    <meta property="og:url"    content="{{HOME_URL}}{{ revision.get_absolute_url }}" />
    <meta property="og:title"  content="Edición por {{ revision.get_pretty_user }} de {{original.linea.nombre|title}} - {{original.nombre|title}}" />
    <meta property="og:description"  content="Edición del recorrido {{original.linea.nombre|title}} {{original.nombre|title}} creada por el usuario {{ revision.get_pretty_user }} en Cualbondi. Visualización de la edición del recorrido en el estado {{ revision.get_moderacion_last.get_newStatus_display }}" /> 
    {% if original.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}/{{ original.img_cuadrada.url }}" />{% endif %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.1.0/leaflet.polylineDecorator.min.js"></script>

{% endblock %}

{% block bloque_izquierda %}
    <!-- ul class="breadcrumb">
        <li><a href="/">Inicio</a> <span class="divider">&gt;</span></li>
        <li><a href="/editor">Editor</a> <span class="divider">&gt;</span></li>
        <li><a href="/editor/{{ original.id }}">{{original.linea.nombre|title}} - {{original.nombre|title}}</a> <span class="divider">&gt;</span></li>
        <li class="active">Visualizar</li>
    </ul !-->

    <div>
        <h1 style="display:inline;">Edición por {{ revision.get_pretty_user }} de {{original.linea.nombre}} {{original.nombre}}</h1>
        <div style="vertical-align: super;margin-left: 10px;" class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    {% if original.inicio and original.fin %}<h3>desde {{original.inicio}} hasta {{original.fin}}</h3>{% endif %}
    <div>
        {% with revision.get_moderacion_last.get_newStatus_display as estado %}
        <p class="pull-right"><span class="label label-{% if estado == 'Esperando Mod' %}warning{% endif %}{% if estado == 'Rechazado' %}important{% endif %}{% if estado == 'Aceptado' %}success{% endif %}{% if estado == 'Reemplazado' %}info{% endif %}">{{ estado }}</span></p>
        {% endwith %}
        <p>Creación: {{ revision.date_create|date:"d/m/Y H:i" }}</p>
    </div>
    <div class="thumbnail" style="position: relative">
        <div class="leaflet-control" style="border-radius: 4px;padding:10px;position:absolute;bottom:15px; left:15px; background:white; z-index: 1200">
            <div><strong>Referencias</strong></div>
            <div>Verde: tramo agregado</div>
            <div>Rojo: tramo eliminado</div>
            <div>Azul: tramo no modificado</div>
        </div>
        <div id="map" style="background:lightblue;height:500px;width:100%"></div>
    </div>

    <script>
        // Load map and base layer
        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © Cualbondi & <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 19, attribution: osmAttrib});
        var map = new L.Map('map', {layers: [osm], center: new L.LatLng(-37.7772, 175.2756), zoom: 15 });

        // Create layer to edition
        var layerResta        = new L.geoJSON({{ diffb.geojson | safe }});
        var layerSuma         = new L.geoJSON({{ diffa.geojson | safe }});
        var layerInterseccion = new L.geoJSON({{ intersection.geojson | safe }});
        var layersAll         = new L.featureGroup([layerResta, layerSuma, layerInterseccion]);
        map.addLayer(layerResta);
        map.addLayer(layerSuma);
        map.addLayer(layerInterseccion);
        layerResta.setStyle(function() { return { opacity: 0.9, stroke: true, color: '#A22' } });
        layerSuma.setStyle(function () { return { opacity: 0.9, stroke: true, color: '#2A2' } });
        layerInterseccion.setStyle(function() { return { opacity: 0.9, stroke: true, color: '#22A' } });
        L.control.layers(null, {'agregado': layerSuma, 'eliminado': layerResta, 'igual': layerInterseccion}).addTo(map);

        // Move map to actual linestring
        //ls=L.featureGroup([layerSuma, layerResta, layerInterseccion])
        map.fitBounds(layersAll.getBounds());

    </script>

{% endblock %}
