{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
    <head{% block head-attrs %}{% endblock %}>
	    <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png" />
    	<title>{% block title %}Cualbondi{% endblock %}</title>
		<meta name="description" content="{% block meta_description %}{% blocktrans %}Search engine of public transportation bus, train,  subway, tram.{% endblocktrans %}.{% endblock %}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> {% endcomment %}
        <link href="{{ STATIC_URL }}css/merged.css" rel="stylesheet" type="text/css" />


        <meta name="google-site-verification" content="NVSk_0zcZdYua2ILJ4L0DvspOCmHujouihZPlo3mDco">
        <link href="https://plus.google.com/117455886911192315188" rel="publisher">

        <link rel="preconnect" crossorigin href="https://fonts.googleapis.com">
        <link rel="preconnect" crossorigin href="https://googletagmanager.com">
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://stats.g.doubleclick.net">
        <link rel="preconnect" href="https://tpc.googlesyndication.com">
        <link rel="preconnect" href="https://pagead2.googlesyndication.com">

        {% block custom_styles %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="{{ STATIC_URL }}js/respond.min.js"></script>
        <![endif]-->

        {% block custom_top_scripts %}{% endblock %}
	</head>
	<body style="padding-bottom:0">

        {% block navbar %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block custom_scripts %}{% endblock %}

        {% include "tracking.html" %}

	</body>
</html>
