{% extends "base.html" %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                {% include "navbar.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "facebook_sdk.html" %}
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <!-- adaptable_2 -->
                {% comment %}
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1193419141108967" data-ad-slot="8086662791" data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endcomment %}
                {% block bloque_izquierda %}{% endblock %}
            </div>
            <div id="bloque_derecha" class="span3">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html"%}
{% endblock %}
