{% extends "base.html" %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                {% include "navbar.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                {% block bloque_izquierda %}{% endblock %}
            </div>
            <div id="bloque_derecha" class="span3">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html"%}
{% endblock %}
