{% extends "base.html" %}

{% block custom_styles %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/estilo.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                {% include "navbar.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "facebook_sdk.html" %}
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- adaptable_2 -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1193419141108967" data-ad-slot="8086662791" data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% block bloque_izquierda %}{% endblock %}
            </div>
            <div id="bloque_derecha" class="span3">
                {% block bloque_derecha %}
                    <!-- contenido_sidebar_1 -->
                    <!--div style="margin-bottom:15px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-1193419141108967"
                             data-ad-slot="2452705946"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div-->
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html"%}
{% endblock %}

{% block custom_scripts %}

    <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() { // this will wait for jquery defer script
        $(document).ready(function(){
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

            $('.dropdown-toggle').dropdown();
            $('#submit_button').click(function(){
                $('#login_form').submit();
            })
            $(".navbar-search input.search-query").keypress(function(event){
                if (event.which==13){
                    $('#login_form').submit();
                }
            })

        })
    })
    </script>
{% endblock %}
