{% load lang_list %}
{% get_lang_list as LANGUAGES %}

<footer style="background:#F0F0FA">
    <hr>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <p style="text-align:center;">&copy; <a style="color:#006ba1;" href="mailto:cualbondi@gmail.com">CualBondi</a> 2009 - 2020</p>
            </div>
            <div class="span12">
                {% for LANG in LANGUAGES %}
                    <div style="text-align:center;">
                        <a style="color:#006ba1;" href="{{request.path}}{% if not LANG.2 %}?lang={{LANG.0}}{% endif %}">
                            {{LANG.1}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
</footer>
