{% extends "contenido.html" %}
{% load bootstrap_tags %}
{% load uslugify %}
{% load i18n %}
{% load pngtowebp %}
{% load lang_list %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% blocktrans %}Public transportation in{% endblocktrans %} {{adminarea|i18name:request|title}}{% for a in adminareaancestors %}, {{a|i18name:request|title}}{% endfor %} - Cualbondi{% endblock %}
{% block meta_description %}{% blocktrans %}How to get around in{% endblocktrans %} {{adminarea|i18name:request|title}} {% blocktrans %}and what lines and routes of buses go through{% endblocktrans %} {{adminarea|i18name:request|title}}{% for a in adminareaancestors %}, {{a|i18name:request|title}}{% endfor %}.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    {% get_lang_list obj as LANGS %}
    {% for LANG in LANGS %}
        <link rel="{% if LANGUAGE_CODE == LANG.0 %}canonical{% else %}alternate{% endif %}" href="{{ obj.get_absolute_url }}{% if not LANG.2 %}?lang={{ LANG.0 }}{% endif %}" hreflang="{{ LANG.0 }}" />
    {% endfor %}
    <link rel="alternate" href="{{ obj.get_absolute_url }}" hreflang="x-default" />

    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:administrative_area" />
    <meta property="og:url"    content="{{ obj.get_absolute_url | add_lang_qs:request }}" />
    <meta property="og:title"  content="{% blocktrans %}How to get around in{% endblocktrans %} {{adminarea|i18name:request|title}}{% for a in adminareaancestors %}, {{a|i18name:request|title}}{% endfor %}" />
    <meta property="og:description"  content="{% blocktrans %}List of all the public transport that go through{% endblocktrans %} {{adminarea|i18name:request|title}}{% for a in adminareaancestors %}, {{a|i18name:request|title}}{% endfor %}. {% blocktrans %}See how to get from where you are{% endblocktrans %}" />
    {% if obj.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}{{ obj.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">{% blocktrans %}Home{% endblocktrans %}</span>
            </a>
            <meta itemprop="position" content="1" />
            <span class="divider">&gt;</span>
        </li>
        {% for a in adminareaancestors reversed %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ a.get_absolute_url | add_lang_qs:request }}">
                <span itemprop="name">{{a|i18name:request}}</span>
            </a>
            <meta itemprop="position" content="{{forloop.counter|add:'1'}}" />
            <span class="divider">&gt;</span>
        </li>
        {% endfor %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{obj.get_absolute_url | add_lang_qs:request}}">
                <span itemprop="name">{{obj|i18name:request}}</span>
            </a>
            <meta itemprop="position" content="{{adminareaancestors|length|add:'2'}}" />
        </li>
    </ul>

    <div itemscope itemtype="http://schema.org/AdministrativeArea">
        <h1><span itemprop="name">{{obj|i18name:request|title}}</span></h1>
        <link itemprop="url" content="{{obj.get_absolute_url | add_lang_qs:request }}" />
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{aacentroid.1|stringformat:'f'}}" />
            <meta itemprop="longitude" content="{{aacentroid.0|stringformat:'f'}}" />
        </div>
        {% if obj.tags.description %}
            <div>{{obj.tags.description}}</div>
        {% endif %}
    </div>

    <div class="thumbnail">
        <a
            href="/mapa/{{adminarea|i18name:request|uslugify}}|{{adminarea.geometry.centroid.0|stringformat:'f'}},{{adminarea.geometry.centroid.1|stringformat:'f'}}/geolocation|{{adminarea.geometry.centroid.0|stringformat:'f'}},{{adminarea.geometry.centroid.1|stringformat:'f'}},{{adminarea|i18name:request}}"
            class="btn btn-primary"
            style="z-index:1;position:absolute; margin:6px"
        >
            {% blocktrans %}See in interactive map{% endblocktrans %}
        </a>
        {% if obj.img_panorama %}
        <div id="map" style="background:lightblue;min-height:300px;">
            <img style="height:300px;object-fit:cover" src="{{HOME_URL}}{{ obj.img_panorama | pngorwebpurl }}" alt="Mapa de ubicacion de {{ obj|i18name:request }}{% if parent %} en {{parent.nombre|title}}{% endif %}." />
        </div>
        {% endif %}
    </div>
    {% include "ad_contenido.html"%}

    {% if lineas %}
    <div class="row-fluid">
        <h2>{% blocktrans %}Lines of public transport{% endblocktrans %}</h2>
        {% for cols in lineas|partition_horizontal:60 %}
        {% for columna in cols|dividir_columnas:6 %}
        <div class="span2">
            <ul class="nav nav-pills nav-stacked">
                {% for linea in columna %}
                <li><a href="{{linea.get_absolute_url | add_lang_qs:request }}">{{linea.nombre}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% if not forloop.last %}
        <div class="span12 ad">
            {% include "ad_contenido_infeed.html"%}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if recorridos %}
    <div class="row-fluid">
        <h2>{% blocktrans %}Routes of public transport{% endblocktrans %}</h2>
        {% for cols in recorridos|partition_horizontal:48 %}
            {% for columna in cols|dividir_columnas:3 %}
                <div class="span4">
                    <ul class="nav nav-pills nav-stacked">
                    {% for recorrido in columna %}
                        <li style="text-align:left">
                            <a href={{recorrido.get_absolute_url | add_lang_qs:request }}>
                                {{recorrido.nombre}}
                                {% if recorrido.inicio and recorrido.fin %}
                                    <span class="light">de {{recorrido.inicio}} a {{recorrido.fin}}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% if not forloop.last %}
                <div class="span12 ad">
                    {% include "ad_contenido_infeed.html"%}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    {% if children %}
        <div class="row-fluid">
            <h2>{% blocktrans %}Places{% endblocktrans %}</h2>
            <ul>
                {% for child in children %}
                <li>
                    <a href="{{child.get_absolute_url | add_lang_qs:request }}">{{child|i18name:request}}</a>
                    <small>({{child.recorridos_count}})</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if paradas %}
        <h2>{% blocktrans %}Stops{% endblocktrans %}</h2>
        <ul>
            {% for p in paradas %}
            <li><a href="{{p.get_absolute_url | add_lang_qs:request }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if pois %}
        <h2>{% blocktrans %}Points of interest{% endblocktrans %}</h2>
        <ul>
            {% for p in pois %}
            <li itemscope itemtype="http://schema.org/Place">
                <a itemprop="url" href="{{p.get_absolute_url | add_lang_qs:request }}">
                    <span itemprop="name">{{ p|i18name:request }}</span>
                </a>
                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{p.latlng.1|stringformat:'f'}}" />
                    <meta itemprop="longitude" content="{{p.latlng.0|stringformat:'f'}}" />
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
