{% extends "contenido.html" %}
{% load bootstrap_tags %}
{% load uslugify %}
{% load i18n %}
{% load reviews %}
{% load pngtowebp %}
{% load lang_list %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% blocktrans %}How to get to{% endblocktrans %} {{poi|i18name:request|title}}{% if amenity %} ({{amenity}}) {% endif %} {% blocktrans %}in{% endblocktrans %} {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a|i18name:request|title}}{% endfor %} - Cualbondi{% endblock %}
{% block meta_description %}{% blocktrans %}How to get to{% endblocktrans %} {{poi|i18name:request|title}} {% blocktrans %}and what lines and routes of buses go through{% endblocktrans %} {{poi|i18name:request|title}} {% blocktrans %}in{% endblocktrans %} {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a|i18name:request|title}}{% endfor %}.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    {% get_lang_list poi as LANGS %}
    {% for LANG in LANGS %}
        <link rel="{% if LANGUAGE_CODE == LANG.0 %}canonical{% else %}alternate{% endif %}" href="{{ poi.get_absolute_url }}{% if not LANG.2 %}?lang={{ LANG.0 }}{% endif %}" hreflang="{{ LANG.0 }}" />
    {% endfor %}
    <link rel="alternate" href="{{ poi.get_absolute_url }}" hreflang="x-default" />

    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:punto_de_interes" />
    <meta property="og:url"    content="{{ poi.get_absolute_url | add_lang_qs:request }}" />
    <meta property="og:title"  content="{% blocktrans %}How to get to{% endblocktrans %} {{poi|i18name:request|title}} {% blocktrans %}in{% endblocktrans %} {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a|i18name:request|title}}{% endfor %}" />
    <meta property="og:description"  content="{% blocktrans %}List of all the public transport that go through{% endblocktrans %} {{poi|i18name:request|title}} {% blocktrans %}in{% endblocktrans %} {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a|i18name:request|title}}{% endfor %}. {% blocktrans %}See how to get from where you are{% endblocktrans %}" />
    {% if poi.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}{{ poi.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
                <span itemprop="name">{% blocktrans %}Home{% endblocktrans %}</span>
            </a>
            <meta itemprop="position" content="1" />
            <span class="divider">&gt;</span>
        </li>
        {% for a in adminareas %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{a.get_absolute_url | add_lang_qs:request}}">
                <span itemprop="name">{{a|i18name:request}}</span>
            </a>
            <meta itemprop="position" content="{{forloop.counter|add:'1'}}" />
            <span class="divider">&gt;</span>
        </li>
        {% endfor %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{poi.get_absolute_url | add_lang_qs:request}}">
                <span itemprop="name">{{poi|i18name:request}}</span>
            </a>
            <meta itemprop="position" content="{{adminareas|length|add:'2'}}" />
        </li>
    </ul>

    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{schemaorg_itemtype}}" id="mainitemid">
        <h1>{% blocktrans %}How to get to{% endblocktrans %} <span itemprop="name">{{poi|i18name:request}}</span>{% blocktrans %}?{% endblocktrans %}</h1>
        <link itemprop="url" content="{{poi.get_absolute_url | add_lang_qs:request}}" />
        <div>
            {% render_review_aggregate for poi %}
        </div>
        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{poi.latlng.1|stringformat:'f'}}" />
                <meta itemprop="longitude" content="{{poi.latlng.0|stringformat:'f'}}" />
            </div>
        </div>
        <div>
            {% if amenity %}
                <span style="float:right" class="label label-default">{{amenity}}</span>
            {% endif %}
            {% if poi.tags.website %}
                <a href="{{poi.tags.website}}" target="_blank" rel="noopener">{% blocktrans %}Go to website{% endblocktrans %}</a>
            {% endif %}
        </div>
        <div>
            {% if poi.tags.phone %}
                <span>{% blocktrans %}Phone{% endblocktrans %}: <a href="tel:{{poi.tags.phone}}">{{poi.tags.phone}}</a></span>
            {% endif %}
            {% if poi.tags.email %}
                <a href="mailto:{{poi.tags.email}}">{{poi.tags.email}}</a>
            {% endif %}
        </div>
        {% if poi.tags.operator %}
            <div>{{poi.tags.operator}}</div>
        {% endif %}
        {% if poi.tags.description %}
            <div itemprop="description">{{poi.tags.description}}</div>
        {% endif %}

        <div class="thumbnail">
            <a href="/mapa/{{adminareas.0|i18name:request|uslugify}}|{{adminareas.0.geometry.centroid.0|stringformat:'f'}},{{adminareas.0.geometry.centroid.1|stringformat:'f'}}/geolocation|{{poi.latlng.0|stringformat:'f'}},{{poi.latlng.1|stringformat:'f'}},{{poi|i18name:request}}" class="btn btn-primary" style="z-index:1;position:absolute; margin:6px">{% blocktrans %}See in interactive map{% endblocktrans %}</a>
            {% if poi.img_panorama %}
            <div id="map" style="background:lightblue;min-height:300px;">
                <img style="height:300px;object-fit:cover" itemprop="image" src="{{HOME_URL}}{{ poi.img_panorama | pngorwebpurl }}" alt="Mapa de ubicacion de {{ poi|i18name:request }} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a|i18name:request|title}}{% endfor %}." />
            </div>
            {% endif %}
        </div>

    </div>
    {% include "ad_contenido.html"%}

    {% if recorridos %}
        <div class="row-fluid">
            <h2>{% blocktrans %}Public transport routes that pass next to this place{% endblocktrans %}</h2>
            {% for cols in recorridos|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                <div class="span4">
                    <ul class="nav nav-pills nav-stacked">
                    {% for rs in columna %}
                        <li><a href="{{rs.get_absolute_url | add_lang_qs:request}}" style="text-align:left">{{rs.linea.nombre}} - {{rs.nombre}}{% if rs.inicio and rs.fin %} <span class="light">{% blocktrans %}from{% endblocktrans %} {{rs.inicio}} {% blocktrans %}to{% endblocktrans %} {{rs.fin}}</span>{% endif %}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if paradas %}
        <h2>{% blocktrans %}Nearby stops{% endblocktrans %}</h2>
        <ul>
            {% for p in paradas %}
            <li><a href="{{p.get_absolute_url | add_lang_qs:request}}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if pois %}
        <h2>{% blocktrans %}Other points of interest nearby{% endblocktrans %}</h2>
        <ul>
            {% for p in pois %}
            <li itemscope itemtype="http://schema.org/Place">
                <a itemprop="url" href="{{p.get_absolute_url | add_lang_qs:request}}">
                    <span itemprop="name">{{ p|i18name:request }}</span>
                </a>
                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{p.latlng.1|stringformat:'f'}}" />
                    <meta itemprop="longitude" content="{{p.latlng.0|stringformat:'f'}}" />
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% comment %} 
    <h2 id="reviews">{% blocktrans %}Reviews of{% endblocktrans %} {{poi|i18name:request|title}}</h2>
    {% render_review_form for poi %}
    {% render_review_list for poi %}
{% endcomment %} 

{% endblock %}
