{% extends "contenido.html" %}
{% load bootstrap_tags %}

{% block title %}Cómo llegar a {{poi.nom|title}}{% if amenity %} ({{amenity}}) {% endif %} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a.name|title}}{% endfor %} - Cualbondi{% endblock %}
{% block meta_description %}Cómo llegar a {{poi.nom|title}} y qué líneas de recorridos de micros y ómnibus y buses pasan por {{poi.nom|title}} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a.name|title}}{% endfor %}.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="cualbondi:punto_de_interes" />
    <meta property="og:url"    content="{{HOME_URL}}{{ poi.get_absolute_url }}" />
    <meta property="og:title"  content="Como llegar a {{poi.nom|title}} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a.name|title}}{% endfor %}" />
    <meta property="og:description"  content="Listado de todos los medios de transporte publico que pasan por {{poi.nom|title}} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a.name|title}}{% endfor %}. Entra para ver como llegar desde donde estes ahora" />
    {% if poi.img_cuadrada %}<meta property="og:image"  content="{{HOME_URL}}/{{ poi.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{HOME_URL}}" itemprop="url">
                <span itemprop="title">Inicio</span>
            </a>
            <span class="divider">&gt;</span>
        </li>
        {% for a in adminareas reversed %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{HOME_URL}}{{a.get_absolute_url}}" itemprop="url">
                <span itemprop="title">{{a.name}}</span>
            </a>
            <span class="divider">&gt;</span>
        </li>
        {% endfor %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{HOME_URL}}{{obj.get_absolute_url}}" itemprop="url">
                <span itemprop="title">{{obj.nombre}} {% if obj.inicio and obj.fin %}(de {{obj.inicio}} a {{obj.fin}}){% endif %}</span>
            </a>
        </li>
    </ul>

    <div itemscope itemtype="http://schema.org/Place">
        <h1>¿Cómo llegar a <span itemprop="name">{{poi.nom}}</span>?</h1>
        <link itemprop="url" content="{{HOME_URL}}{{poi.get_absolute_url}}" />
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{poi.latlng.1|stringformat:"f"}}" />
            <meta itemprop="longitude" content="{{poi.latlng.0|stringformat:"f"}}" />
        </div>
        <div>
            {% if amenity %}
                <span style="float:right" class="label label-default">{{amenity}}</span>
            {% endif %}
            {% if poi.tags.website %}
                <a href="{{poi.tags.website}}" target="_blank">Ir al sitio web</a>
            {% endif %}
        </div>
        <div>
            {% if poi.tags.phone %}
                <span>Telefono: <a href="tel:{{poi.tags.phone}}">{{poi.tags.phone}}</a></span>
            {% endif %}
            {% if poi.tags.email %}
                <a href="mailto:{{poi.tags.email}}">{{poi.tags.email}}</div>
            {% endif %}
        </div>
        {% if poi.tags.operator %}
            <div>{{poi.tags.operator}}</div>
        {% endif %}
        {% if poi.tags.description %}
            <div>{{poi.tags.description}}</div>
        {% endif %}
    </div>

    <div class="thumbnail">
        <a href="/mapa/{{adminareas.0.name|slugify}}|{{adminareas.0.geometry.centroid.0|stringformat:'f'}},{{adminareas.0.geometry.centroid.1|stringformat:'f'}}/geolocation|{{poi.latlng.0|stringformat:'f'}},{{poi.latlng.1|stringformat:'f'}},{{poi.nom}}" class="btn btn-primary" style="z-index:1;position:absolute; margin:6px">Ver en mapa interactivo</a>
        {% if poi.img_panorama %}
        <div id="map" style="background:lightblue;">
            <img src="{{HOME_URL}}/{{ poi.img_panorama.url }}" alt="Mapa de ubicacion de {{ poi.nom }} en {% for a in adminareas %}{% if not forloop.first %}, {% endif %}{{a.name|title}}{% endfor %}." />
        </div>
        {% endif %}
    </div>
    {% include "ad_contenido.html"%}

    {% if recorridos %}
        <div class="row-fluid">
            <h2>Recorridos de transporte público que pasan por este lugar</h2>
            {% for cols in recorridos|partition_horizontal:48 %}
                {% for columna in cols|dividir_columnas:3 %}
                <div class="span4">
                    <ul class="nav nav-pills nav-stacked">
                    {% for rs in columna %}
                        <li><a href="{{rs.get_absolute_url}}" style="text-align:left">{{rs.linea.nombre}} - {{rs.nombre}}{% if rs.inicio and rs.fin %} <span class="light">de {{rs.inicio}} a {{rs.fin}}</span>{% endif %}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {% if not forloop.last %}
                    <div class="span12 ad">
                        {% include "ad_contenido_infeed.html"%}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if paradas %}
        <h2>Paradas cercanas</h2>
        <ul>
            {% for p in paradas %}
            <li><a href="{{p.get_absolute_url}}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if pois %}
        <h2>Otros puntos de interés cercanos</h2>
        <ul>
            {% for p in pois %}
            <li itemscope itemtype="http://schema.org/Place">
                <a itemprop="url" href="https://cualbondi.com.ar{{p.get_absolute_url}}">
                    <span itemprop="name">{{ p.nom }}</span>
                </a>
                <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{p.latlng.1|stringformat:"f"}}" />
                    <meta itemprop="longitude" content="{{p.latlng.0|stringformat:"f"}}" />
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
